In [1]:
import zipfile
from zipfile import ZipFile
import pandas as pd

# descompactação dos arquivos-amostra

In [6]:
# para descompactar as amostras de arquivos:

# dados 1995
zipfile.ZipFile(f'./1995_microdados_censo_da_educacao_superior_1995.zip').extractall()

# dados 2022
zipfile.ZipFile(f'./2022_microdados_censo_da_educacao_superior_2022.zip').extractall()

# Análise inicial dos dados

## Dados de 1995

In [2]:
# análises iniciais dos dados

# dados 1995 - cursos

dados_1995_cursos = pd.read_csv(f'./dados_1995/DADOS/GRADUACAO_PRESENCIAL.CSV', sep='|', encoding='latin-1')

In [3]:
dados_1995_cursos.describe()

,MASCARA,NR_ANO,CD_CURSO_SEEC,CD_CURSO,CODMUNIC,NO_CURSO_HABILITACAO,IN_LICENC_CURTA,IN_LICENC_PLENA,IN_BACHARELADO,IN_TECNOLOGO,...,QT_INGR_OUTROS_FEMI_DIURNO,QT_INGR_OUTROS_MASC_DIURNO,QT_VAGAS_NOTURNO,QT_INSC_1OPC_NOTURNO,QT_INSC_2OPC_NOTURNO,QT_APROVADOS_NOTURNO,QT_INGR_VEST_FEMI_NOTURNO,QT_INGR_VEST_MASC_NOTURNO,QT_INGR_OUTROS_FEMI_NOTURNO,QT_INGR_OUTROS_MASC_NOTURNO
count,7089.000000,7089.0,7089.000000,7.089000e+03,0.0,0.0,3162.000000,4138.000000,4436.000000,3067.000000,...,7089.000000,7089.000000,7089.000000,7089.000000,7089.00000,7089.000000,7089.000000,7089.000000,7089.000000,7089.000000
mean,460.035407,1995.0,314.520807,2.046882e+06,NaN,NaN,0.110057,0.577815,0.689134,0.099446,...,0.915221,0.639159,49.615602,147.602060,79.32487,86.052476,21.747073,18.575399,0.804063,0.769220
std,253.026452,0.0,16.627140,5.390025e+04,NaN,NaN,0.313010,0.493967,0.462900,0.299308,...,6.278277,2.549205,60.885425,335.173506,297.86693,231.484878,31.159749,32.528382,3.208931,3.409306
min,1.000000,1995.0,301.000000,1.001000e+06,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,241.000000,1995.0,303.000000,2.021000e+06,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,448.000000,1995.0,308.000000,2.045000e+06,NaN,NaN,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,40.000000,44.000000,0.00000,33.000000,13.000000,6.000000,0.000000,0.000000
75%,678.000000,1995.0,320.000000,2.072000e+06,NaN,NaN,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,80.000000,157.000000,59.00000,82.000000,33.000000,27.000000,0.000000,0.000000
max,894.000000,1995.0,441.000000,2.163000e+06,NaN,NaN,1.000000,1.000000,1.000000,1.000000,...,447.000000,80.000000,1200.000000,8351.000000,9477.00000,8351.000000,698.000000,810.000000,97.000000,75.000000

In [15]:
# para obter a lista de colunas:
#dados_1995_cursos.columns

# para obter a lista de colunas e tipos de dados:
dados_1995_cursos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7089 entries, 0 to 7088
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   MASCARA                      7089 non-null   int64
 1   NR_ANO                       7089 non-null   int64
 2   CD_CURSO_SEEC                7089 non-null   int64
 3   CD_CURSO                     7089 non-null   int64
 4   CODMUNIC                     0 non-null      float64
 5   EH_CAPITAL                   7089 non-null   object
 6   NO_REGIAO                    7089 non-null   object
 7   SG_UF_CURSO                  6906 non-null   object
 8   NO_UF                        7089 non-null   object
 9   NO_CURSO                     7089 non-null   object
 10  NO_CURSO_HABILITACAO         0 non-null      float64
 11  AREACURSO                    7089 non-null   object
 12  NO_AREA_CONHE                7089 non-null   object
 13  IN_LICENC_CURTA              3162 non-null   float64
 14  IN_LICENC_PLENA              4138 non-null   float64
 15  IN_BACHARELADO               4436 non-null   float64
 16  IN_TECNOLOGO                 3067 non-null   float64
 17  IN_OUTRA_MODALIDADE          3182 non-null   float64
 18  DT_INICIO                    6724 non-null   object
 19  IN_FUNCIONAMENTO             7089 non-null   int64
 20  IN_REGIME_MATRIC             6396 non-null   float64
 21  IN_SIST_VESTIBULAR           6223 non-null   float64
 22  QT_MAT_ANT_DIU_FEMI          7089 non-null   int64
 23  QT_MAT_ANT_DIU_MASC          7089 non-null   int64
 24  QT_MAT_ANT_NOT_FEMI          7089 non-null   int64
 25  QT_MAT_ANT_NOT_MASC          7089 non-null   int64
 26  QT_MAT_ATU_DIU_FEMI          7089 non-null   int64
 27  QT_MAT_ATU_DIU_MASC          7089 non-null   int64
 28  QT_MAT_ATU_NOT_FEMI          7089 non-null   int64
 29  QT_MAT_ATU_NOT_MASC          7089 non-null   int64
 30  QT_DIPLO_1SEM_FEMI           7089 non-null   int64
 31  QT_DIPLO_1SEM_MASC           7089 non-null   int64
 32  QT_DIPLO_2SEM_FEMI           7089 non-null   int64
 33  QT_DIPLO_2SEM_MASC           7089 non-null   int64
 34  QT_ALUNOS_TRANSF             7089 non-null   int64
 35  QT_AFAST_1SEM_TRANCA         7089 non-null   int64
 36  QT_AFAST_1SEM_ABANDONO       7089 non-null   int64
 37  QT_AFAST_2SEM_TRANCA         7089 non-null   int64
 38  QT_AFAST_2SEM_ABANDONO       7089 non-null   int64
 39  QT_VAGAS_DIURNO              7089 non-null   int64
 40  QT_INSC_1OPC_DIURNO          7089 non-null   int64
 41  QT_INSC_2OPC_DIURNO          7089 non-null   int64
 42  QT_APROVADOS_DIURNO          7089 non-null   int64
 43  QT_INGR_VEST_FEMI_DIURNO     7089 non-null   int64
 44  QT_INGR_VEST_MASC_DIURNO     7089 non-null   int64
 45  QT_INGR_OUTROS_FEMI_DIURNO   7089 non-null   int64
 46  QT_INGR_OUTROS_MASC_DIURNO   7089 non-null   int64
 47  QT_VAGAS_NOTURNO             7089 non-null   int64
 48  QT_INSC_1OPC_NOTURNO         7089 non-null   int64
 49  QT_INSC_2OPC_NOTURNO         7089 non-null   int64
 50  QT_APROVADOS_NOTURNO         7089 non-null   int64
 51  QT_INGR_VEST_FEMI_NOTURNO    7089 non-null   int64
 52  QT_INGR_VEST_MASC_NOTURNO    7089 non-null   int64
 53  QT_INGR_OUTROS_FEMI_NOTURNO  7089 non-null   int64
 54  QT_INGR_OUTROS_MASC_NOTURNO  7089 non-null   int64
dtypes: float64(9), int64(38), object(8)
memory usage: 3.0+ MB

In [4]:
# dados 1995 - instituições

dados_1995_ie = pd.read_csv(f'./dados_1995/DADOS/INSTITUICAO.CSV', sep='|', encoding='latin-1')

In [5]:
dados_1995_ie.describe()

,MASCARA,NR_ANO,CODMUNIC,IN_FUNCIONAMENTO,IN_DEP_ADM,IN_NATUREZA,QT_SERV_SEM_ESCOLARIDADE,QT_SERV_COM_1GRAU,QT_SERV_COM_2GRAU,QT_SERV_COM_SUPERIOR,...,QT_DOCEN_PARC_SEM_GRADU,QT_DOCEN_INT_SEM_GRADU,QT_DOCEN_PARC_GRADU,QT_DOCEN_INT_GRADU,QT_DOCEN_PARC_ESPEC,QT_DOCEN_INT_ESPEC,QT_DOCEN_PARC_MESTRADO,QT_DOCEN_INT_MESTRADO,QT_DOCEN_PARC_DOUTORADO,QT_DOCEN_INT_DOUTORADO
count,894.000000,894.0,8.940000e+02,894.0,894.000000,894.000000,785.000000,785.000000,894.000000,894.000000,...,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000
mean,447.500000,1995.0,3.509109e+11,1.0,3.552573,3.411633,49.450955,38.185987,69.516779,52.204698,...,0.803132,0.125280,26.354586,11.948546,40.834452,17.920582,16.548098,22.469799,6.919463,18.592841
std,258.219868,0.0,7.882445e+10,0.0,0.894821,1.082550,241.364447,182.612584,315.054426,262.670640,...,14.300461,1.524701,54.918351,46.111502,66.340358,58.172980,42.949063,94.609936,41.204760,135.262599
min,1.000000,1995.0,1.101001e+11,1.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,224.250000,1995.0,3.110053e+11,1.0,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,2.000000,0.000000,8.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,447.500000,1995.0,3.504022e+11,1.0,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,9.000000,0.000000,19.000000,0.000000,4.000000,0.000000,0.000000,0.000000
75%,670.750000,1995.0,3.515062e+11,1.0,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,24.000000,0.000000,40.000000,3.750000,13.000000,1.000000,3.000000,0.000000
max,894.000000,1995.0,5.301001e+11,1.0,4.000000,4.000000,4580.000000,2965.000000,5037.000000,4359.000000,...,414.000000,30.000000,597.000000,516.000000,486.000000,630.000000,811.000000,1125.000000,896.000000,3069.000000

In [13]:
# para obter a lista de colunas:
dados_1995_ie.columns

# agora, para listar o nome e tipo de dados de cada coluna:
dados_1995_ie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MASCARA                     894 non-null    int64
 1   NR_ANO                      894 non-null    int64
 2   NO_DISTRITO                 894 non-null    object
 3   CODMUNIC                    894 non-null    int64
 4   NO_MUNICIPIO                894 non-null    object
 5   EH_CAPITAL                  894 non-null    object
 6   SG_UF                       894 non-null    object
 7   NO_UF                       894 non-null    object
 8   NO_REGIAO                   894 non-null    object
 9   IN_FUNCIONAMENTO            894 non-null    int64
 10  IN_DEP_ADM                  894 non-null    int64
 11  IN_NATUREZA                 894 non-null    int64
 12  QT_SERV_SEM_ESCOLARIDADE    785 non-null    float64
 13  QT_SERV_COM_1GRAU           785 non-null    float64
 14  QT_SERV_COM_2GRAU           894 non-null    int64
 15  QT_SERV_COM_SUPERIOR        894 non-null    int64
 16  QT_SERV_COM_ESPECIALIZACAO  894 non-null    int64
 17  QT_SERV_COM_MESTRADO        894 non-null    int64
 18  QT_SERV_COM_DOUTORADO       894 non-null    int64
 19  QT_TOTAL_SERVIDORES         894 non-null    int64
 20  QT_TOTAL_SERVIDORES_ESTAB   894 non-null    int64
 21  QT_DOCEN_FEMI_AFAST         894 non-null    int64
 22  QT_DOCEN_MASC_AFAST         894 non-null    int64
 23  QT_DOCEN_MASC_EXERC         894 non-null    int64
 24  QT_DOCEN_FEMI_EXERC         894 non-null    int64
 25  QT_DOCEN_AFAST_CURS_POS     894 non-null    int64
 26  QT_DOCEN_AFAST_OUTROS_MOT   894 non-null    int64
 27  QT_DOCEN_PARC_SEM_GRADU     894 non-null    int64
 28  QT_DOCEN_INT_SEM_GRADU      894 non-null    int64
 29  QT_DOCEN_PARC_GRADU         894 non-null    int64
 30  QT_DOCEN_INT_GRADU          894 non-null    int64
 31  QT_DOCEN_PARC_ESPEC         894 non-null    int64
 32  QT_DOCEN_INT_ESPEC          894 non-null    int64
 33  QT_DOCEN_PARC_MESTRADO      894 non-null    int64
 34  QT_DOCEN_INT_MESTRADO       894 non-null    int64
 35  QT_DOCEN_PARC_DOUTORADO     894 non-null    int64
 36  QT_DOCEN_INT_DOUTORADO      894 non-null    int64
dtypes: float64(2), int64(29), object(6)
memory usage: 258.5+ KB

## Dados de 2022

In [19]:
dados_2022_cursos = pd.read_csv(f'./Microdados do Censo da Educaç╞o Superior 1995/DADOS/GRADUACAO_PRESENCIAL.CSV', sep='|', encoding='latin-1')

dados_2022_cursos.head()

,MASCARA,NR_ANO,CD_CURSO_SEEC,CD_CURSO,CODMUNIC,EH_CAPITAL,NO_REGIAO,SG_UF_CURSO,NO_UF,NO_CURSO,...,QT_INGR_OUTROS_FEMI_DIURNO,QT_INGR_OUTROS_MASC_DIURNO,QT_VAGAS_NOTURNO,QT_INSC_1OPC_NOTURNO,QT_INSC_2OPC_NOTURNO,QT_APROVADOS_NOTURNO,QT_INGR_VEST_FEMI_NOTURNO,QT_INGR_VEST_MASC_NOTURNO,QT_INGR_OUTROS_FEMI_NOTURNO,QT_INGR_OUTROS_MASC_NOTURNO
0,1,1995,301,2020000,NaN,N,CENTRO-OESTE,GO,Goias,CIENCIA DA COMPUTACAO,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,302,2066000,NaN,N,SUDESTE,MG,Minas Gerais,LETRAS,...,0,0,60,58,0,58,42,4,1,0
2,2,1995,303,2050000,NaN,N,SUDESTE,MG,Minas Gerais,ESTUDOS SOCIAIS,...,0,0,60,41,0,41,25,16,0,0
3,2,1995,301,2018000,NaN,N,SUDESTE,MG,Minas Gerais,CIENCIAS,...,0,0,60,50,0,50,36,4,1,0
4,3,1995,302,2021000,NaN,N,SUDESTE,RJ,Rio de Janeiro,CIENCIAS CONTABEIS,...,0,0,50,160,139,50,29,21,0,0

In [20]:
dados_2022_cursos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7089 entries, 0 to 7088
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   MASCARA                      7089 non-null   int64
 1   NR_ANO                       7089 non-null   int64
 2   CD_CURSO_SEEC                7089 non-null   int64
 3   CD_CURSO                     7089 non-null   int64
 4   CODMUNIC                     0 non-null      float64
 5   EH_CAPITAL                   7089 non-null   object
 6   NO_REGIAO                    7089 non-null   object
 7   SG_UF_CURSO                  6906 non-null   object
 8   NO_UF                        7089 non-null   object
 9   NO_CURSO                     7089 non-null   object
 10  NO_CURSO_HABILITACAO         0 non-null      float64
 11  AREACURSO                    7089 non-null   object
 12  NO_AREA_CONHE                7089 non-null   object
 13  IN_LICENC_CURTA              3162 non-null   float64
 14  IN_LICENC_PLENA              4138 non-null   float64
 15  IN_BACHARELADO               4436 non-null   float64
 16  IN_TECNOLOGO                 3067 non-null   float64
 17  IN_OUTRA_MODALIDADE          3182 non-null   float64
 18  DT_INICIO                    6724 non-null   object
 19  IN_FUNCIONAMENTO             7089 non-null   int64
 20  IN_REGIME_MATRIC             6396 non-null   float64
 21  IN_SIST_VESTIBULAR           6223 non-null   float64
 22  QT_MAT_ANT_DIU_FEMI          7089 non-null   int64
 23  QT_MAT_ANT_DIU_MASC          7089 non-null   int64
 24  QT_MAT_ANT_NOT_FEMI          7089 non-null   int64
 25  QT_MAT_ANT_NOT_MASC          7089 non-null   int64
 26  QT_MAT_ATU_DIU_FEMI          7089 non-null   int64
 27  QT_MAT_ATU_DIU_MASC          7089 non-null   int64
 28  QT_MAT_ATU_NOT_FEMI          7089 non-null   int64
 29  QT_MAT_ATU_NOT_MASC          7089 non-null   int64
 30  QT_DIPLO_1SEM_FEMI           7089 non-null   int64
 31  QT_DIPLO_1SEM_MASC           7089 non-null   int64
 32  QT_DIPLO_2SEM_FEMI           7089 non-null   int64
 33  QT_DIPLO_2SEM_MASC           7089 non-null   int64
 34  QT_ALUNOS_TRANSF             7089 non-null   int64
 35  QT_AFAST_1SEM_TRANCA         7089 non-null   int64
 36  QT_AFAST_1SEM_ABANDONO       7089 non-null   int64
 37  QT_AFAST_2SEM_TRANCA         7089 non-null   int64
 38  QT_AFAST_2SEM_ABANDONO       7089 non-null   int64
 39  QT_VAGAS_DIURNO              7089 non-null   int64
 40  QT_INSC_1OPC_DIURNO          7089 non-null   int64
 41  QT_INSC_2OPC_DIURNO          7089 non-null   int64
 42  QT_APROVADOS_DIURNO          7089 non-null   int64
 43  QT_INGR_VEST_FEMI_DIURNO     7089 non-null   int64
 44  QT_INGR_VEST_MASC_DIURNO     7089 non-null   int64
 45  QT_INGR_OUTROS_FEMI_DIURNO   7089 non-null   int64
 46  QT_INGR_OUTROS_MASC_DIURNO   7089 non-null   int64
 47  QT_VAGAS_NOTURNO             7089 non-null   int64
 48  QT_INSC_1OPC_NOTURNO         7089 non-null   int64
 49  QT_INSC_2OPC_NOTURNO         7089 non-null   int64
 50  QT_APROVADOS_NOTURNO         7089 non-null   int64
 51  QT_INGR_VEST_FEMI_NOTURNO    7089 non-null   int64
 52  QT_INGR_VEST_MASC_NOTURNO    7089 non-null   int64
 53  QT_INGR_OUTROS_FEMI_NOTURNO  7089 non-null   int64
 54  QT_INGR_OUTROS_MASC_NOTURNO  7089 non-null   int64
dtypes: float64(9), int64(38), object(8)
memory usage: 3.0+ MB

In [27]:
dados_2022_ie = pd.read_csv(f'./microdados_educaç╞o_superior_2022/dados/MICRODADOS_ED_SUP_IES_2022.CSV', sep=';', encoding='latin-1')

In [28]:
dados_2022_ie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595 entries, 0 to 2594
Data columns (total 81 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   NU_ANO_CENSO                    2595 non-null   int64
 1   NO_REGIAO_IES                   2595 non-null   object
 2   CO_REGIAO_IES                   2595 non-null   int64
 3   NO_UF_IES                       2595 non-null   object
 4   SG_UF_IES                       2595 non-null   object
 5   CO_UF_IES                       2595 non-null   int64
 6   NO_MUNICIPIO_IES                2595 non-null   object
 7   CO_MUNICIPIO_IES                2595 non-null   int64
 8   IN_CAPITAL_IES                  2595 non-null   int64
 9   NO_MESORREGIAO_IES              2595 non-null   object
 10  CO_MESORREGIAO_IES              2595 non-null   int64
 11  NO_MICRORREGIAO_IES             2595 non-null   object
 12  CO_MICRORREGIAO_IES             2595 non-null   int64
 13  TP_ORGANIZACAO_ACADEMICA        2595 non-null   int64
 14  TP_CATEGORIA_ADMINISTRATIVA     2595 non-null   int64
 15  NO_MANTENEDORA                  2595 non-null   object
 16  CO_MANTENEDORA                  2595 non-null   int64
 17  CO_IES                          2595 non-null   int64
 18  NO_IES                          2595 non-null   object
 19  SG_IES                          2125 non-null   object
 20  DS_ENDERECO_IES                 2595 non-null   object
 21  DS_NUMERO_ENDERECO_IES          2594 non-null   object
 22  DS_COMPLEMENTO_ENDERECO_IES     2594 non-null   object
 23  NO_BAIRRO_IES                   2595 non-null   object
 24  NU_CEP_IES                      2556 non-null   float64
 25  QT_TEC_TOTAL                    2595 non-null   int64
 26  QT_TEC_FUNDAMENTAL_INCOMP_FEM   2595 non-null   int64
 27  QT_TEC_FUNDAMENTAL_INCOMP_MASC  2595 non-null   int64
 28  QT_TEC_FUNDAMENTAL_COMP_FEM     2595 non-null   int64
 29  QT_TEC_FUNDAMENTAL_COMP_MASC    2595 non-null   int64
 30  QT_TEC_MEDIO_FEM                2595 non-null   int64
 31  QT_TEC_MEDIO_MASC               2595 non-null   int64
 32  QT_TEC_SUPERIOR_FEM             2595 non-null   int64
 33  QT_TEC_SUPERIOR_MASC            2595 non-null   int64
 34  QT_TEC_ESPECIALIZACAO_FEM       2595 non-null   int64
 35  QT_TEC_ESPECIALIZACAO_MASC      2595 non-null   int64
 36  QT_TEC_MESTRADO_FEM             2595 non-null   int64
 37  QT_TEC_MESTRADO_MASC            2595 non-null   int64
 38  QT_TEC_DOUTORADO_FEM            2595 non-null   int64
 39  QT_TEC_DOUTORADO_MASC           2595 non-null   int64
 40  IN_ACESSO_PORTAL_CAPES          2595 non-null   int64
 41  IN_ACESSO_OUTRAS_BASES          2595 non-null   int64
 42  IN_ASSINA_OUTRA_BASE            2595 non-null   int64
 43  IN_REPOSITORIO_INSTITUCIONAL    2595 non-null   int64
 44  IN_BUSCA_INTEGRADA              2595 non-null   int64
 45  IN_SERVICO_INTERNET             2595 non-null   int64
 46  IN_PARTICIPA_REDE_SOCIAL        2595 non-null   int64
 47  IN_CATALOGO_ONLINE              2595 non-null   int64
 48  QT_PERIODICO_ELETRONICO         2595 non-null   int64
 49  QT_LIVRO_ELETRONICO             2595 non-null   int64
 50  QT_DOC_TOTAL                    2595 non-null   int64
 51  QT_DOC_EXE                      2595 non-null   int64
 52  QT_DOC_EX_FEMI                  2595 non-null   int64
 53  QT_DOC_EX_MASC                  2595 non-null   int64
 54  QT_DOC_EX_SEM_GRAD              2595 non-null   int64
 55  QT_DOC_EX_GRAD                  2595 non-null   int64
 56  QT_DOC_EX_ESP                   2595 non-null   int64
 57  QT_DOC_EX_MEST                  2595 non-null   int64
 58  QT_DOC_EX_DOUT                  2595 non-null   int64
 59  QT_DOC_EX_INT                   2595 non-null   int64
 60  QT_DOC_EX_INT_DE                2595 non-null   int64
 61  QT_DOC_EX_INT_SEM_DE            2595 non-null   int64
 62  QT_DOC_EX_PARC                  2595 non-null   int64
 63  QT_DOC_EX_HOR                   2595 non-null   int64
 64  QT_DOC_EX_0_29                  2595 non-null   int64
 65  QT_DOC_EX_30_34                 2595 non-null   int64
 66  QT_DOC_EX_35_39                 2595 non-null   int64
 67  QT_DOC_EX_40_44                 2595 non-null   int64
 68  QT_DOC_EX_45_49                 2595 non-null   int64
 69  QT_DOC_EX_50_54                 2595 non-null   int64
 70  QT_DOC_EX_55_59                 2595 non-null   int64
 71  QT_DOC_EX_60_MAIS               2595 non-null   int64
 72  QT_DOC_EX_BRANCA                2595 non-null   int64
 73  QT_DOC_EX_PRETA                 2595 non-null   int64
 74  QT_DOC_EX_PARDA                 2595 non-null   int64
 75  QT_DOC_EX_AMARELA               2595 non-null   int64
 76  QT_DOC_EX_INDIGENA              2595 non-null   int64
 77  QT_DOC_EX_COR_ND                2595 non-null   int64
 78  QT_DOC_EX_BRA                   2595 non-null   int64
 79  QT_DOC_EX_EST                   2595 non-null   int64
 80  QT_DOC_EX_COM_DEFICIENCIA       2595 non-null   int64
dtypes: float64(1), int64(67), object(13)
memory usage: 1.6+ MB

In [29]:
dados_2022_ie.head()

,NU_ANO_CENSO,NO_REGIAO_IES,CO_REGIAO_IES,NO_UF_IES,SG_UF_IES,CO_UF_IES,NO_MUNICIPIO_IES,CO_MUNICIPIO_IES,IN_CAPITAL_IES,NO_MESORREGIAO_IES,...,QT_DOC_EX_60_MAIS,QT_DOC_EX_BRANCA,QT_DOC_EX_PRETA,QT_DOC_EX_PARDA,QT_DOC_EX_AMARELA,QT_DOC_EX_INDIGENA,QT_DOC_EX_COR_ND,QT_DOC_EX_BRA,QT_DOC_EX_EST,QT_DOC_EX_COM_DEFICIENCIA
0,2022,Centro-Oeste,5,Mato Grosso,MT,51,Cuiabá,5103403,1,Centro-Sul Mato-grossense,...,183,1023,85,431,43,8,47,1609,28,6
1,2022,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,1,Distrito Federal,...,506,1848,94,474,59,9,402,2731,155,17
2,2022,Nordeste,2,Sergipe,SE,28,São Cristóvão,2806701,0,Leste Sergipano,...,196,206,31,266,13,2,1231,1719,30,1
3,2022,Norte,1,Amazonas,AM,13,Manaus,1302603,1,Centro Amazonense,...,200,110,12,141,6,2,1447,1718,0,1
4,2022,Nordeste,2,Piauí,PI,22,Teresina,2211001,1,Centro-Norte Piauiense,...,239,133,44,232,1,2,1070,1482,0,0

# Comparando dados de 1995 e 2022

In [53]:
# agora, vamos comparar os dados de 1995 e 2022

# vamos começar com o arquivo de cursos, comparando as colunas presentes em cada um dos arquivos

# lista de colunas de cada arquivo
colunas_cursos_1995 = dados_1995_cursos.columns
colunas_cursos_2022 = dados_2022_cursos.columns

# agora, comparando os registros de cada lista com o nome das colunas
for i, coluna in enumerate(colunas_cursos_1995, start=1):
    if coluna not in colunas_cursos_2022:
        print(f'### ATENÇÃO! ### A coluna {coluna} não existe no arquivo de 2022 (linha {i})')
    else:
        print(f'A coluna {coluna} existe no arquivo de 2022 (linha {i})')

# agora, vamos adicionar uma linha para contar a quantidade de colunas que existem no arquivo de 2022 (somar os resultados do print acima)
print(f'A quantidade de colunas equivalentes entre os arquivos é de {len(colunas_cursos_2022)}')

A coluna MASCARA existe no arquivo de 2022 (linha 1)
A coluna NR_ANO existe no arquivo de 2022 (linha 2)
A coluna CD_CURSO_SEEC existe no arquivo de 2022 (linha 3)
A coluna CD_CURSO existe no arquivo de 2022 (linha 4)
A coluna CODMUNIC existe no arquivo de 2022 (linha 5)
A coluna EH_CAPITAL existe no arquivo de 2022 (linha 6)
A coluna NO_REGIAO existe no arquivo de 2022 (linha 7)
A coluna SG_UF_CURSO existe no arquivo de 2022 (linha 8)
A coluna NO_UF existe no arquivo de 2022 (linha 9)
A coluna NO_CURSO existe no arquivo de 2022 (linha 10)
A coluna NO_CURSO_HABILITACAO existe no arquivo de 2022 (linha 11)
A coluna AREACURSO existe no arquivo de 2022 (linha 12)
A coluna NO_AREA_CONHE existe no arquivo de 2022 (linha 13)
A coluna IN_LICENC_CURTA existe no arquivo de 2022 (linha 14)
A coluna IN_LICENC_PLENA existe no arquivo de 2022 (linha 15)
A coluna IN_BACHARELADO existe no arquivo de 2022 (linha 16)
A coluna IN_TECNOLOGO existe no arquivo de 2022 (linha 17)
A coluna IN_OUTRA_MODALIDADE existe no arquivo de 2022 (linha 18)
A coluna DT_INICIO existe no arquivo de 2022 (linha 19)
A coluna IN_FUNCIONAMENTO existe no arquivo de 2022 (linha 20)
A coluna IN_REGIME_MATRIC existe no arquivo de 2022 (linha 21)
A coluna IN_SIST_VESTIBULAR existe no arquivo de 2022 (linha 22)
A coluna QT_MAT_ANT_DIU_FEMI existe no arquivo de 2022 (linha 23)
A coluna QT_MAT_ANT_DIU_MASC existe no arquivo de 2022 (linha 24)
A coluna QT_MAT_ANT_NOT_FEMI existe no arquivo de 2022 (linha 25)
A coluna QT_MAT_ANT_NOT_MASC existe no arquivo de 2022 (linha 26)
A coluna QT_MAT_ATU_DIU_FEMI existe no arquivo de 2022 (linha 27)
A coluna QT_MAT_ATU_DIU_MASC existe no arquivo de 2022 (linha 28)
A coluna QT_MAT_ATU_NOT_FEMI existe no arquivo de 2022 (linha 29)
A coluna QT_MAT_ATU_NOT_MASC existe no arquivo de 2022 (linha 30)
A coluna QT_DIPLO_1SEM_FEMI existe no arquivo de 2022 (linha 31)
A coluna QT_DIPLO_1SEM_MASC existe no arquivo de 2022 (linha 32)
A coluna QT_DIPLO_2SEM_FEMI existe no arquivo de 2022 (linha 33)
A coluna QT_DIPLO_2SEM_MASC existe no arquivo de 2022 (linha 34)
A coluna QT_ALUNOS_TRANSF existe no arquivo de 2022 (linha 35)
A coluna QT_AFAST_1SEM_TRANCA existe no arquivo de 2022 (linha 36)
A coluna QT_AFAST_1SEM_ABANDONO existe no arquivo de 2022 (linha 37)
A coluna QT_AFAST_2SEM_TRANCA existe no arquivo de 2022 (linha 38)
A coluna QT_AFAST_2SEM_ABANDONO existe no arquivo de 2022 (linha 39)
A coluna QT_VAGAS_DIURNO existe no arquivo de 2022 (linha 40)
A coluna QT_INSC_1OPC_DIURNO existe no arquivo de 2022 (linha 41)
A coluna QT_INSC_2OPC_DIURNO existe no arquivo de 2022 (linha 42)
A coluna QT_APROVADOS_DIURNO existe no arquivo de 2022 (linha 43)
A coluna QT_INGR_VEST_FEMI_DIURNO existe no arquivo de 2022 (linha 44)
A coluna QT_INGR_VEST_MASC_DIURNO existe no arquivo de 2022 (linha 45)
A coluna QT_INGR_OUTROS_FEMI_DIURNO existe no arquivo de 2022 (linha 46)
A coluna QT_INGR_OUTROS_MASC_DIURNO existe no arquivo de 2022 (linha 47)
A coluna QT_VAGAS_NOTURNO existe no arquivo de 2022 (linha 48)
A coluna QT_INSC_1OPC_NOTURNO existe no arquivo de 2022 (linha 49)
A coluna QT_INSC_2OPC_NOTURNO existe no arquivo de 2022 (linha 50)
A coluna QT_APROVADOS_NOTURNO existe no arquivo de 2022 (linha 51)
A coluna QT_INGR_VEST_FEMI_NOTURNO existe no arquivo de 2022 (linha 52)
A coluna QT_INGR_VEST_MASC_NOTURNO existe no arquivo de 2022 (linha 53)
A coluna QT_INGR_OUTROS_FEMI_NOTURNO existe no arquivo de 2022 (linha 54)
A coluna QT_INGR_OUTROS_MASC_NOTURNO existe no arquivo de 2022 (linha 55)
A quantidade de colunas equivalentes entre os arquivos é de 55

In [40]:
# agora, vamos comparar os dados das ie de 1995 e 2022:

# lista de colunas de cada arquivo
colunas_ie_1995 = dados_1995_ie.columns
colunas_ie_2022 = dados_2022_ie.columns

# agora, comparando os registros de cada lista com o nome das colunas

### ATENÇÃO! ### A coluna MASCARA não existe no arquivo de 2022
### ATENÇÃO! ### A coluna NR_ANO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna NO_DISTRITO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna CODMUNIC não existe no arquivo de 2022
### ATENÇÃO! ### A coluna NO_MUNICIPIO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna EH_CAPITAL não existe no arquivo de 2022
### ATENÇÃO! ### A coluna SG_UF não existe no arquivo de 2022
### ATENÇÃO! ### A coluna NO_UF não existe no arquivo de 2022
### ATENÇÃO! ### A coluna NO_REGIAO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna IN_FUNCIONAMENTO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna IN_DEP_ADM não existe no arquivo de 2022
### ATENÇÃO! ### A coluna IN_NATUREZA não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_SEM_ESCOLARIDADE não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_COM_1GRAU não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_COM_2GRAU não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_COM_SUPERIOR não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_COM_ESPECIALIZACAO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_COM_MESTRADO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_SERV_COM_DOUTORADO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_TOTAL_SERVIDORES não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_TOTAL_SERVIDORES_ESTAB não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_FEMI_AFAST não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_MASC_AFAST não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_MASC_EXERC não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_FEMI_EXERC não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_AFAST_CURS_POS não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_AFAST_OUTROS_MOT não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_PARC_SEM_GRADU não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_INT_SEM_GRADU não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_PARC_GRADU não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_INT_GRADU não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_PARC_ESPEC não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_INT_ESPEC não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_PARC_MESTRADO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_INT_MESTRADO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_PARC_DOUTORADO não existe no arquivo de 2022
### ATENÇÃO! ### A coluna QT_DOCEN_INT_DOUTORADO não existe no arquivo de 2022

In [41]:
# como apenas obtivemos o registro de colunas de 1995 que não estão presentes em 2022, vamos verificar o contrário:

for coluna in colunas_ie_2022:
    if coluna not in colunas_ie_1995:
        print(f'### ATENÇÃO! ### A coluna {coluna} não existe no arquivo de 1995')
    elif coluna in colunas_ie_1995:
        print(f'A coluna {coluna} existe no arquivo de 1995')

### ATENÇÃO! ### A coluna NU_ANO_CENSO não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_REGIAO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_REGIAO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_UF_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna SG_UF_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_UF_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_MUNICIPIO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_MUNICIPIO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_CAPITAL_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_MESORREGIAO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_MESORREGIAO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_MICRORREGIAO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_MICRORREGIAO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna TP_ORGANIZACAO_ACADEMICA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna TP_CATEGORIA_ADMINISTRATIVA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_MANTENEDORA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_MANTENEDORA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna CO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna SG_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna DS_ENDERECO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna DS_NUMERO_ENDERECO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna DS_COMPLEMENTO_ENDERECO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NO_BAIRRO_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna NU_CEP_IES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_TOTAL não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_FUNDAMENTAL_INCOMP_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_FUNDAMENTAL_INCOMP_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_FUNDAMENTAL_COMP_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_FUNDAMENTAL_COMP_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_MEDIO_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_MEDIO_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_SUPERIOR_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_SUPERIOR_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_ESPECIALIZACAO_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_ESPECIALIZACAO_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_MESTRADO_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_MESTRADO_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_DOUTORADO_FEM não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_TEC_DOUTORADO_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_ACESSO_PORTAL_CAPES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_ACESSO_OUTRAS_BASES não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_ASSINA_OUTRA_BASE não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_REPOSITORIO_INSTITUCIONAL não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_BUSCA_INTEGRADA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_SERVICO_INTERNET não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_PARTICIPA_REDE_SOCIAL não existe no arquivo de 1995
### ATENÇÃO! ### A coluna IN_CATALOGO_ONLINE não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_PERIODICO_ELETRONICO não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_LIVRO_ELETRONICO não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_TOTAL não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EXE não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_FEMI não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_MASC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_SEM_GRAD não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_GRAD não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_ESP não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_MEST não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_DOUT não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_INT não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_INT_DE não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_INT_SEM_DE não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_PARC não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_HOR não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_0_29 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_30_34 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_35_39 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_40_44 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_45_49 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_50_54 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_55_59 não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_60_MAIS não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_BRANCA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_PRETA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_PARDA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_AMARELA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_INDIGENA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_COR_ND não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_BRA não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_EST não existe no arquivo de 1995
### ATENÇÃO! ### A coluna QT_DOC_EX_COM_DEFICIENCIA não existe no arquivo de 1995